/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
*, *:before, *:after { 
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	line-height: 1.5;
	font-family: 'Open Sans', san-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	max-width: 90%;
  margin: 0 auto;
  width: 1024px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-top: 130px
}

.intro h2 {
	color: white;
	padding-bottom: 20px;
}

.intro {
	text-align: center;
	margin-top: 110px;
}

a.introcta {
	font-weight: 800;
	border-radius: 5px;
}
}

.benefits {
	background-color: #f0efef;
}

.benefits h2 {
	margin-top: -20px;
	padding-top: 30px;
	color: #033048;
}
.benefits ul {
 	padding-left: 80px;
 	padding-bottom: 50px;
 	margin-bottom: -20px;
}
section.benefts {
	padding: 20px;
}

.quote {
	padding-top: 100px;
	padding-bottom: 100px;
	background: url("../images/testimonial_bg.jpg")
}
h1 {
	position: absolute;
	padding-left: 75px;
	color: white;
}

h1, .brand {
	font-weight: 800;
	font-size:50px;
}

h2, .name {
	font-weight: 600;
}

h3 {
	font-weight: 800;
}

a {
	font-weight: 600;
	border-radius: 5px;
	background-color: #f9e42e;
	text-decoration: none;
	color: #033048;
}

.intro a {
	padding: 10px 50px;
}

p, li {
	font-weight: 300;
}

blockquote {
	font-weight: 300;
	font-style: italic;
	color: white;
	text-align: center;
}

.cta {
	text-align: center;
	background-color: #f9e42e;
	padding: 35px;
}

.cta a {
	background-color: #033048;
	color: white;
	padding: 10px 55px;
	margin-top: 30px;
}

.name {
	color: white;
	text-align: center
}


footer{
	margin-top: -20px;
	background-color: #121212;
	text-align: center;
}

footer h2 {
	margin-top: 20px;
	text-align: center;
	padding: 30px;
}

footer p {
	color: white;
	text-align: center;
	padding: 30px;
}

.brand {
	color: #f9e42e;
}

 footer img {
	padding: 20px;
 }

footer ul li {
	display: inline;
}

header  {
	overflow: hidden;
	background-color: #033048;
	position: fixed;
	top: 0;
	width: 100%;
	padding-bottom: 0px;
}

nav.clearfix {
	font-weight: 600;
}

nav ul {
	float: right;
	display: inline-block;
}

nav li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
    margin-top: 30px;

}

nav a {
    display: block;
    padding: 15px;
    background-color: #033048;
	color: #f9e42e;
	font-size: 25px;
}

main {
	margin-top: 200px;
}

main.column {
	margin-top: 200px;
	float: left;
	width: 620px;
	margin-bottom: 40px;
}

aside.column{
	margin-top: 200px;
	float: right;
	width: 250px;
}

aside.column.adunit {
	margin-top: 20px;
	padding-bottom: 300px;
	background-color: white;
	text-align: center;
}

section {
	background-color: #f0efef;
}

/*p:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;

}*/ /*couldn't work out why this wouldn't work for me!*/

a:hover{
	background-color: ghostwhite;
}

span {
  color: black;
  float: left;
  font-family: Open Sans;
  font-size: 75px;
  line-height: 60px;
  font-weight: 600;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.more {
	font-weight: 600;
	float: right;
}

.learn {
		font-weight: 600;
}

.blockquote {
 font-weight: 600;
 }